<!-- header.component.html -->
<header style="background-color:antiquewhite">
  <div class="logo">
    <!-- <img src="bits-logo.png" alt="BITS Logo" /> -->
    
     <img src ="https://i.postimg.cc/1X8H7YYt/BITS-Logo.png" width = "400" alt="BpxITS Pilani Logo" /> 
     <mat-divider [vertical]="true" style="color: black;height: 50px;margin-left: 16px;"></mat-divider>

     <h1 style="text-decoration: solid;font-size: 32px;font-weight: 500;color:#1a165AF0;margin-left: 16px;">Assessment Recommendation System</h1>
  </div>
  <!-- <div class="title">BITS Work Integrated Programme</div> -->
</header>
